!!! 5

%head
  %title えおかふぇ in Day

  %meta{ content:"width=device-width; initial-scale=1", name:"viewport" }
  %link{ rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" }
  %link{ rel:"stylesheet", href:"stylesheets/index.css" }

  :css
    body {
      background-image: url( "images/background.jpg" );
      background-attachment: fixed;
    }

%body
  .navbar-fixed
    %nav.black{ style: "opacity:0.4;" }
      .nav-wrapper
        .center
          %h4 えおかふぇ in Day
  .container.center
    .card-panel.today-card{ style:"background-color: rgba( 0,0,0, 0.6 );" }
      %p{ style: "opacity: 0.6;" }
        %h5.white-text 今日のえおかふぇ
      .row
        %span.white-text
          11:30回
        .divider
        .col.s12.m12.l4
          .card-panel.today-ng.one-person
            %h5 ○ 1人
            %h2 読み込み中

        .col.s12.m12.l4
          .card-panel.today-ng.to-person
            %h5 ○○ 2人
            %h2 読み込み中
        .col.s12.m12.l4
          .card-panel.today-ng.four-person
            %h5 ○○○○ 4人
            %h2 読み込み中
      .row
        %span.white-text
          14:00回
        .divider
        .col.s12.m12.l4
          .card-panel.today-ng.one-person
            %h5 ○ 1人
            %h2 読み込み中

        .col.s12.m12.l4
          .card-panel.today-ng.to-person
            %h5 ○○ 2人
            %h2 読み込み中
        .col.s12.m12.l4
          .card-panel.today-ng.four-person
            %h5 ○○○○ 4人
            %h2 読み込み中
      .row
        %span.white-text
          16:30回
        .divider
        .col.s12.m12.l4
          .card-panel.today-ng.one-person
            %h5 ○ 1人
            %h2 読み込み中

        .col.s12.m12.l4
          .card-panel.today-ng.to-person
            %h5 ○○ 2人
            %h2 読み込み中
        .col.s12.m12.l4
          .card-panel.today-ng.four-person
            %h5 ○○○○ 4人
            %h2 読み込み中
      .row
        %span.white-text
          19:00回
        .divider
        .col.s12.m12.l4
          .card-panel.today-ng.one-person
            %h5 ○ 1人
            %h2 読み込み中

        .col.s12.m12.l4
          .card-panel.today-ng.to-person
            %h5 ○○ 2人
            %h2 読み込み中
        .col.s12.m12.l4
          .card-panel.today-ng.four-person
            %h5 ○○○○ 4人
            %h2 読み込み中
    .row
      :plain
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1867680685770734"
        data-ad-slot="6687013081"
        data-ad-format="auto"></ins>

    .card-panel.tommorow-card{ style:"background-color: rgba( 0,0,0, 0.6 );" }
      %p{ style: "opacity: 0.6;" }
        %h5.white-text 明日のえおかふぇ
      .row
        %span.white-text
          11:30回
        .divider
        .col.s12.m12.l4
          .card-panel.today-ng.one-person
            %h5 ○ 1人
            %h2 読み込み中

        .col.s12.m12.l4
          .card-panel.today-ng.to-person
            %h5 ○○ 2人
            %h2 読み込み中
        .col.s12.m12.l4
          .card-panel.today-ng.four-person
            %h5 ○○○○ 4人
            %h2 読み込み中
      .row
        %span.white-text
          14:00回
        .divider
        .col.s12.m12.l4
          .card-panel.today-ng.one-person
            %h5 ○ 1人
            %h2 読み込み中

        .col.s12.m12.l4
          .card-panel.today-ng.to-person
            %h5 ○○ 2人
            %h2 読み込み中
        .col.s12.m12.l4
          .card-panel.today-ng.four-person
            %h5 ○○○○ 4人
            %h2 読み込み中
      .row
        %span.white-text
          16:30回
        .divider
        .col.s12.m12.l4
          .card-panel.today-ng.one-person
            %h5 ○ 1人
            %h2 読み込み中

        .col.s12.m12.l4
          .card-panel.today-ng.to-person
            %h5 ○○ 2人
            %h2 読み込み中
        .col.s12.m12.l4
          .card-panel.today-ng.four-person
            %h5 ○○○○ 4人
            %h2 読み込み中
      .row
        %span.white-text
          19:00回
        .divider
        .col.s12.m12.l4
          .card-panel.today-ng.one-person
            %h5 ○ 1人
            %h2 読み込み中

        .col.s12.m12.l4
          .card-panel.today-ng.to-person
            %h5 ○○ 2人
            %h2 読み込み中
        .col.s12.m12.l4
          .card-panel.today-ng.four-person
            %h5 ○○○○ 4人
            %h2 読み込み中



%footer.white-text{ style: "background-color: rgba( 0,0,0,0.6 );"}
  .footer-copyright
    .copyright
      .container
        .center
          kogarasi all rights reserverd.
          %a.white-text{ href:"https://twitter.com/kogarasi_cross" }
            @kogarasi_cross

%script{ src:"https://code.jquery.com/jquery-2.1.4.min.js" }
%script{ src:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js" }
%script{ src:"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" }

:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});